# macOS
.DS_Store
*.dmg

# Build outputs
build/
dist/
.deps/
.tmp/
package/
Resources/

# IDE
.idea/
.vscode/
*.swp

# Rime build files
*.bin
*.userdb/
# Xcode User State
*.xcuserstate

# AppStore
AppStore用/
