<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NanomouseAppStoreID</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Nanomouse 需要访问摄像头，以便为字节粘贴片段直接拍照。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nanomouse 需要访问照片库，以便把相册中的图片设置到字节粘贴片段。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Nanomouse 需要将字节粘贴片段中的图片导出到照片图库。</string>
</dict>
</plist>
