<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>zip</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.XiangqingZHANG.nanomouse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nanomouse</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NanomouseAppStoreID</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Nanomouse 需要使用摄像头拍摄照片并保存到字节粘贴片段。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Nanomouse 需要访问照片库，以便把相册中的图片设置到字节粘贴片段。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Nanomouse 需要将字节粘贴片段中的图片导出到照片图库。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Nanomouse 需要使用麦克风进行语音输入。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nanomouse 需要在主 App 中读取你的位置，以便获取键盘顶部天气指标。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Nanomouse 需要使用本地网络，让同一局域网内的设备通过浏览器上传和管理输入方案文件。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Nanomouse 需要语音识别权限将口述转换为文字。</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.XiangqingZHANG.nanomouse</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Nanomouse</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>rimeVersion</key>
	<string>1.9.0</string>
	<key>sharedSupportVersion</key>
	<string>2026-03-23</string>
</dict>
</plist>
